body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    background-color: #fffdef;
    background-size: cover;
}
@keyframes grow {
    0% { transform: scale(.2); }
  100% { transform: scale(1); }
}

#main{
    animation: grow 1.5s ease;
}
.skip{
    position:absolute;
    left: -1000px;
    z-index: 1000;
    font-family: "Gideon Roman", serif;
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    }
.skip:focus{
    left: 10px;
    }

.home .logo {
        transition: all 0.3s ease;
    }

.logo:hover {
        transform: scale(1.1);
      }

.home img {
    max-width: 40px;
    height: auto;
    position: relative;
    margin-top: 1.5em;
}

header {
    position: fixed;
    width: 100%;
    text-align: center;
justify-content: center;
z-index: 1000;
}
.title1, .title2, .title3, .title4, .title5, .title6, .title7, .title8{
    font-family: "josefin sans", sans-serif;
    color: #dfccb1;
    font-size: 2.5em;
    text-align: center;
    margin-top: 1.2em;
}

.p1, .p2, .p3, .p4, .p5, .p6, .p7, .p8{
    font-family: "josefin sans", sans-serif;
    font-weight: 350;
    color: #dfccb1;
    font-size: 1.5em;
    line-height: 1.5em;
    text-align: center;
    width: 75%;
}

.p2, .p4, .p5, .p6{
    color: #000000;
}
.p3, .p6{
    color: #ffffff;

}
.p7{
    color: #e17127;

}
.title2{
    color: darkred;
}
.title3, .title6{
    color: #ffffff;

}
.title4, .title5{
    color: #000000;
}
.title7{
    color: #e17127;
}

nav {
    display: flex;
    justify-content: flex-start;
    z-index: 1000;
    margin-left: 60px;
    z-index: 1000;
    }

.images {
text-align: center;
    }

.images img{
    overflow: hidden;
    position: relative;
    top: 15vh;
    width: 90%;
     height: auto;
     margin: 10px;
     border-radius: 10px;
     transition: all 0.3s ease;
 }
    .images img:hover {
        transform: scale(1.05);
        box-shadow: 0 0 10px rgb(0, 0, 0,.5);  
    }
.arrow2 img {
    max-width: 40px;
    padding: 15px;}


.arrow2 {
    opacity: 0;
    right: 10px;
    bottom: 20px;
    height: auto;
    position:fixed;
    margin-top: 1.5em;
    padding: 15px;
    transition: all 0.5s ease;
  }

  .arrow2.show {
    opacity: 1;
  }

.arrow2:hover {
    transform: scale(1.2);

}
.boxes{
    display:none
}

  footer{
    position: relative;
    color: #000000;
    font-size: .7em;
    text-align: right;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 0.5em;
    margin: 0.5em;
    top: 40vh;
}

/* desktop view */
@media screen and (min-width: 950px) {
    .boxes{
        display:unset
    }
nav {
display: flex;
justify-content: flex-start;
z-index: 1000;
margin-left: 60px;
}

h1 {
    display: block;
    color: #fffdef;
    text-align: left;
    font-size: 2.5em;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0.5em;
}
h2{
    display: block;
    margin-top: -0.8em;
    color: #5a5a5a;
    text-align: left;
    font-size: 2.16em;
    padding: 0.5em;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.aboutme {
    position: relative;
    top: 10vh;
    right: 15vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
}


.home img {
    max-width: 40px;
    height: auto;
    position: relative;
}

.images{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 5px;
    justify-content: space-around;

}
.images img{
   width: 480px;
    height: auto;
    top: 5px;
    margin: 10px;
    text-align: right;
    margin-right: 10px;
    border-radius: 10px;
    transition: all 0.3s ease;
}

.images img:hover {
    transform: scale(1.08);
    box-shadow: 0 0 10px rgb(0, 0, 0,.5);
}
.home .logo {
    transition: all 0.3s ease;
}
  
.logo:hover {
    transform: scale(1.1);
  }

.box1, .box2, .box3, .box4, .box5, .box6, .box7, .box8 {
    opacity: 0;
    position: fixed;
    top: 0;
    width: 48%;
    height: 100%;
    right: 0;
    background-color:#000000;
    transition: opacity 0.3s ease-in-out;
    pointer-events: none;
    z-index: -1;
  }
.box1.show, .box2.show, .box3.show, .box4.show, .box5.show, .box6.show, .box7.show, .box8.show {
    opacity: 1;
    pointer-events: auto;
  }
.box1{
    background: url("../assets/waveline.gif");
    background-size: cover;
}
.box2 {
    background-color:#ffffff;
    background-image: url("../assets/ink.gif");
    background-size: cover;
  }
.box3{
    background: url("../assets/mauve.jpg");
    background-size: cover;
}
.box4{
    background: url("../assets/tamarind.png");
    background-size: cover;
}
.box5{
    background: url("../assets/lemonade.jpg");
    background-size: cover;
}
.box6{
    background: url("../assets/honey.gif");
    background-size: cover;

}
.box7{
    background: url("../assets/jazz1.png");
    background-size:cover;

}


.content{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction:column;
    margin-top: 20vh;
}
.arrow2 img {
    max-width: 40px;
    right: 20px;
    bottom: 20px;
    margin-top: 1.5em;
    padding: 15px;}


.arrow2 {
    opacity: 0;
    left: 20px;
    bottom: 20px;
    height: auto;
    position:fixed;
    margin-top: 1.5em;
    padding: 15px;
    transition: all 0.5s ease;
    ;
  }

.arrow2.show {
    opacity: 1;
  }

.arrow2:hover {
    transform: scale(1.2);

}
  footer{
    position: relative;
    color: #000000;
    font-size: .7em;
    text-align: right;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 0.5em;
    margin: 0.5em;
    top: 40vh;
}

}
